/*
* @Author: che
* @Date:   2018-08-13 11:24:28
* @Last Modified by:   che
* @Last Modified time: 2018-08-17 00:00:30
*/
header{
	width: 7.5rem;
	height: 13.34rem;
	background-image: url('../img/51.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center -0.4rem;
	margin: 0 auto;
}
footer{
	margin-top: 0.5rem;
	width: 100%;
	background-image: url('../img/18.png');
	position: fixed;
	bottom: 0;
	margin: 0 auto;


}
footer .bottom{
	width: 7rem;
	height: 1.2rem;
	
	margin: 0 auto;
	padding-top: 0.2rem;
}
footer .bottom ul{
	display: flex;
	flex-direction: row;
}
footer .bottom ul li{
	width: 25%;
	height: 1rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}
footer .bottom ul li img{
	width: 0.42rem;
	height: 0.42rem;
}
footer .bottom ul li .shouye{
	width: 0.4rem;
	height: 0.4rem;
}
footer .bottom ul li .faxian{
	width: 0.4rem;
	height: 0.4rem;
}
footer .bottom ul li .dingdan{
	width: 0.36rem;
	height: 0.4rem;
}
footer .bottom ul li .wode{
	width: 0.38rem;
	height: 0.4rem;
}
footer .bottom ul li span{
	width: 0.36rem;
	height: 0.24rem;
	font-size: 0.18rem;
	margin-top: 0.1rem;
}